<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
</head>
<body>

<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/chewbacca/tweets">Chewbacca's Tweets</a></li>
  <li><a href="/chewbacca">Chewbacca</a></li>
</ul>

<%= yield %> <%# this yields to other views  %>

</body>
</html>
